* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.frame {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.frame {}

#GameBoard {
    position: relative;
    display: grid;
    width: 300px;
    height: 300px;
    grid-template-columns: auto auto auto;
}

.Tile {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-style: solid;
    transition: background 0.2s ease-in-out;
}

.Tile:hover {
    background-color: rgb(94, 190, 110);
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.disabled {
    pointer-events: none;
    opacity: 0.3;
}

#A1,
#A2,
#A3 {
    border-top: none;
}

#A1,
#A4,
#A7 {
    border-left: none;
}

#A3,
#A6,
#A9 {
    border-right: none;
}

#A7,
#A8,
#A9 {
    border-bottom: none;
}

.btn-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    margin: auto;
    width: 400px;
}

.glass {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    border-style: solid;
    background-color: rgb(94, 190, 110);
    background-image: linear-gradient(rgb(94, 190, 110), rgb(115, 231, 135));
    border-radius: 50%;
    box-shadow: 0px 1px 4px -2px #333;
    text-shadow: 0px -1px;
    /* text styles */
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-family: sans-serif;
    font-weight: 100;
}

.glass:hover {
    background: linear-gradient(rgb(160, 236, 172), rgb(99, 185, 219));
}

.glass:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    height: 50%;
    background: linear-gradient(to top left rgba(255, 255, 255, 0.8), rgba(109, 199, 211, 0.877));
}

.Player1 {
    width: 100px;
    height: 100px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: url("./png\ folder/playerO.png");
    background-repeat: no-repeat;
    background-size: 90px 90px;
}

.Player2 {
    width: 100px;
    height: 100px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: url("./png\ folder/playerX.png");
    background-repeat: no-repeat;
    background-size: 90px 90px;
}