#GameBoard
{
  background-color: red;
  height: 150px;
  width: 150px;
}

.Tile
{
  margin: 5px;
  background-color: blue;
  height: 20%;
  width: 20%;
}

.Player1
{
    margin: 5px;
    background-color: blueviolet;
    height: 20%;
    width: 20%
}

.Player2
{
    margin: 5px;
    background-color: coral;
    height: 20%;
    width: 20%
}